play.http.secret.key="changeme"

linkshortener {
    db {
        host = "localhost"
        name = "dbname"
        port = "5432"
        username = "username"
        password = "password"
    }

    shortLink.domain = "http://localhost:9000"
}

akka {
  remote.artery {
    canonical {
      hostname = "127.0.0.1"
      port = 2551
    }
  }

  cluster {
    seed-nodes = [
      "akka://application@127.0.0.1:2551"
    ]
  }
}


include "0_play.conf"
include "1_akka-persistence.conf"
include "2_flyway.conf"
include "3_akka-projection.conf"
include "4_akka-cluster.conf"