play.http.secret.key="changeme"

linkshortener {
    db {
        host = "localhost"
        name = "dbname"
        port = "5432"
        username = "username"
        password = "password"
    }

    shortLink.domain = "http://localhost:9000"
}

akka {
  remote.artery {
    canonical {
      hostname = "127.0.0.1"
      port = 2551
    }
  }

  cluster {
    seed-nodes = [
      "akka://application@127.0.0.1:2551"
    ]

    sharding {
        verbose-debug-logging = on
    }
  }
}

include "0_post-conf-includes.conf"